<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a style="text-decoration: none" class="navbar-brand" href="/api">Resources Wall</a>


    <% if(user){%>
      <label>Hi, <%= user.name %></label>
      <form method="POST" action="/api/logout">
        <button
                  type="submit">
              logout
          </button>
      </form>
      <form method="GET" action="/api/profile">
        <button
                  type="submit">
              Profile
          </button>
      </form>
      <form method="GET" action="/api/resources">
        <button
                  type="submit">
              Resources
          </button>
      </form>
      <form method="GET" action="/api/my-resources">
        <button
                  type="submit">
              My Resources
          </button>
      </form>
      <form method="GET" action="/api/resources/new">
        <button
                  type="submit">
              Create New
          </button>
      </form>
      </div>

      <div>
        <form method="GET" action="/api/title_search">
          <button
                    type="submit">
                Search by Title
            </button>
        </form>
      </div>
      <div>
        <form method="GET" action="/api/topic_search"></form>
        <button
                  type="submit">
              Search by Topic
          </button>
      </form>
      </div>


    <% } else{ %>  <a style="text-decoration: none"  href="http://localhost:8080/api/register">Go Here to Register</a>
    <a style="text-decoration: none"  href="http://localhost:8080/api/login">Go Here to Log in</a>

   <% } %>


  </nav>
</header>


