
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/styles/login.css">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->

    <title>login</title>
  </head>

  <body>

    <%- include('partials/_header', {userEmail: null}) %>

    <main style="margin: 1em;">

  <h2>
  Please login
</h2>
<form action="/api/login" method="POST">
  <input name="email" placeholder="Email" type="email" />
  <input name="password" placeholder="password" type="password"/>
  <button type="submit"> Submit </button>
</form>
    </main>

  </body>
</html>
