<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/resources/new">
    <section>

        <input type="text" name='title' placeholder="title">
        <input type="text" name='url' placeholder="http://">
        <input type="text" name='topic' placeholder="topic">
        <input type="text" name='category' placeholder="category">
        <input type="text" name='description' placeholder="description">
        <button type="submit">Post</button>

    </section>
</form>
</body>
</html>